# ===== Pywikibot configs sensibles =====
user-config.py
user-password.py

# ===== Cache & logs Pywikibot =====
apicache/
logs/

# ===== Fichiers de contrôle Pywikibot =====
throttle.ctrl
*.lcp

# ===== Logs spécifiques des scripts =====
welcome.log
weekly_talk.log
homonym.log
categinex.log

# ===== Fichiers de suivi =====
pages_traitees.txt

# ===== Divers =====
__pycache__/
*.pyc
.env
